@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --primary-clr: #108de0;

  --dark-bg: #212529;

  /* --priority-clr-1: rgb(150, 24, 24); */
  --priority-clr-1: #ffd2d2;
  --priority-clr-2: #ffffd2;
  --priority-clr-3: #f0f0f0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Press Start 2P", cursive;
}

.hidden {
  /* display: none; */
}
/* 
.drop-down {
  margin: 0;
  position: absolute;
  z-index: 3;
  right: 1.5rem;

  display: flex;
}

.drop-down span {
  font-size: 2.5rem;
  font-weight: 900;
  
} */

#octocat {
  transform: scale(1);
  position: relative;
  /* left: -1rem; */
}

.title {
  display: flex;
  align-items: center;
}

.title-desc {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* height: 1.2rem; */
}

#trophy {
  /* height: 100%; */
  /* position: static; */
  /* margin: 0; */
  /* width: 1.5rem; */
  /* height: 2rem; */
  margin-right: 3rem;

  /* transform: scale(2); */
}
#add-btn {
  width: calc(100% - 20px);
  margin: 0;
  margin-right: 2rem;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.site-content {
  margin: 1rem;
  margin-top: 2rem;
}

/* .nes-mario {
  width: 5px;
} */

nav {
  background-color: var(--primary-clr);
  position: sticky;
  padding: 1rem 0.5rem !important;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-inline-width: 8px !important;
  border-bottom-width: 8px !important;
  border-top-width: 0px !important;
  margin-top: 0px !important;
  margin-inline: 8px !important;
}

nav h1 {
  font-size: 1.5rem;
}

.todo-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.todo-bar h3 {
  font-size: 1.5rem;
}

.dark-mode-toggle {
  background-color: var(--dark-bg);
  color: white;
}

.add-todo {
  /* border: 2px solid black; */
  padding: 1rem;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb%2833,37,41%29" /></svg>');
  border-image-slice: 2;
  border-image-width: 2;
  border-style: solid;
  border-width: 4px;
  border-image-outset: 2;
  border-image-repeat: stretch;
}

.todo-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.add-todo .nes-btn {
  margin-left: 2rem;
}
.due-date-info {
  margin-block: 1rem;
  display: flex;
  align-items: center;
}

.due-date-info label {
  margin: 0;
}

.todo-card {
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb%2833,37,41%29" /></svg>');
  border-image-slice: 2;
  border-image-width: 2;
  border-style: solid;
  border-width: 2px;
  border-image-outset: 2;
  border-image-repeat: stretch;
  background-color: var(--priority-clr-3);
  padding: 0.5rem;
}

.todo-card p {
  margin: 0;
  font-size: 0.8rem;
}

.todo-card .info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.todo-card .info p {
  font-size: 1rem;
}

.overdue {
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb%28150,24,24%29" /></svg>');
  border-image-slice: 2;
  border-image-width: 2;
  border-style: solid;
  border-width: 6px;
  border-image-outset: 2;
  border-image-repeat: stretch;
}

.todo-grid {
  display: grid;
  gap: 2rem;
  margin-bottom: 5rem;
}
